// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

html, body {
  font-size: 12px;
}

// 2. Include any default variable overrides here
$primary: #579DDB;
$enable-rounded: false;
$font-size-base: 1.2rem;
$app-input-min-height: 35px;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Include any needed components here
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_modal";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_alert";
